{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movies %}<!-- loop through tasks -->
            <tr>
                <td><a href="/movies/{{ movie.movie_id }}">{{ movie.title }}</a></td> <!--return content of each task-->
                <td>{{ movie.director }}</td>  <!--return date created for each task-->
                <td>{{ movie.rating }}</td>
            </tr>
        {% endfor %}
    <!-- TODO - Render movies in a table with a link on the title to the individual movie page -->
  </tbody>
</table>
{% endblock %}
